<div class="col-md-9" id='main'>
  <div class="p-3 mb-2 bg-light text-dark">
    <h3 class="text-center">
      <span class="text-danger text-center">
        <i class="fas fa-tag"></i>
        <a class="badge badge-danger" href="/tag?tag_name=react+native"><%= @tag%></a>
      </span>

      标签下共有  <span class="text-success"><%= @articles_all.count%></span>  篇文章</h3>
    </div>
    <%= render 'shared/article_list' %>
  </div>
  <div class="col-md-3">
    <div id="topic-sidebar">
      <%= render 'shared/admin_info' %>
      <%= render 'shared/search' %>
      <%= render 'shared/contact' %>
      <%= render 'shared/tags' %>
    </div>
  </div>
  <script type="text/javascript">
    var blog = $('.content')
    for (let i = 0; i < blog.size(); i++) {
      var content = $('#' + blog[i].id).data('content')
      $('#' + blog[i].id).html(marked(content.substring(0,content.length-1) + '...'));
    }
  </script>