<div class="panel" style="margin: 15px;">
  <div  align="center">
    <h2 class="post-title"><%= @article.title%></h2>
    <div style="color: #aaa;">
      <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
      <span><%=@article.created_at.strftime("%m月%d日 %H:%M")%></span>
      <span><%tags = @article.tags %></span>
      <span>
        <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
        <%=@article.read%>
      </span>
      文章来源:
      <span class="<%= @article.is_original ? 'originalLabel':'forwardingLabel'%>">
        <%if @article.is_original %>
        <%= @article.source_title%>
        <%else%>
        <a href="<%= @article.source_url%>" style="color: #eee;" target="_blank" >
          <%= @article.source_title%>
        </a>
        <%end%>
      </span>
      <%unless !logged_in?%>
      <%= link_to '编辑',edit_admin_article_url(@article.id)%>
      <%= link_to '删除',{controller: 'admin/articles',action:'destroy',id:@article.id}, method: :delete,data: { confirm: "你确定要删除该篇文章?\n #{@article.title}"}%>
      <%end%>
      <br>
      <%if tags.size > 0%>
      <%tags.each do |tag| %>
      <div class="tags">
        <%= link_to tag.tag_name ,tag_index_path(:tag_name => tag.tag_name)%>
      </div>
      <%end%>
      <%else%>
      <span class="label label-default">无</span>
      <%end%>
    </div>
  </div>
  <hr>
  <div class="panel-body">
    <div id="blog-content" data-content="<%= @article.content %>">
    </div>
    <hr>
    <div class="statement">
      <% if @article.is_original%>
      <h5><strong>声明：</strong>原创文章，欢迎转载，请以 <code>超链接</code> 的形式注明 <kbd>作者</kbd> 、<kbd>标题</kbd> 和 <kbd>原始出处</kbd>。<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">"知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议"</a></h5>
      <h5><strong>标题：</strong><%= @article.title%>（自动实时更新） | <strong>作者：</strong><%= @article.user.nickname%></h5>
      <h5><strong>地址：</strong><%= article_url(@article)%></h5>
      <%else%>
      <h4 style="color: #c7254e;">本文为转载，原文信息</h4>
      <h5><strong>声明：</strong>转载本文，请以 <code>超链接</code> 的形式注明 <kbd>原作者</kbd> 、<kbd>原标题</kbd> 和 <kbd>原始</kbd>出处。<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">"知识共享署名-非商业性使用-相同方式共享 2.5 中国大陆许可协议"</a></h5>
      <h5><strong>标题：</strong><a href="<%= @article.source_url%>"  target="_blank" ><%= @article.source_title%></a></h5>
      <h5><strong>地址：</strong><%= @article.source_url%></h5>
      <%end%>
    </div>
  </div>
</div>
<style>