
<div class="card">
  <div class="card-header" align="center" >

    <h4><%= @article.title%></h4>
    <div style="color: #8590A6;font-size: 13px;">
      <i class="far fa-calendar-alt"></i>
      <span><%=@article.created_at.strftime("%Y-%m-%d %H:%M")%></span>
      <span><%tags = @article.tags %></span>
      <span>
        <i class="fas fa-eye"></i>
        <%=@article.read%>
      </span>
      来源:
      <span class="badge badge-<%= @article.is_original ? 'success':'danger'%>" >
        <%if @article.is_original %>
        <%= @article.source_title%>
        <%else%>
        <a href="<%= @article.source_url%>" style="color: #fff;" target="_blank" >
          <%= @article.source_title%>
        </a>
        <%end%>
      </span>
      <%unless !logged_in?%>
      &nbsp | <%= link_to '编辑',edit_admin_article_url(@article.id)%>
      <%= link_to '删除',{controller: 'admin/articles',action:'destroy',id:@article.id}, method: :delete,data: { confirm: "你确定要删除该篇文章?\n #{@article.title}"}%>
      <%end%>
      <br>
      <%if tags.size > 0%>
      <%tags.each do |tag| %>
      <i class="fas fa-tag">
        <%= link_to tag.tag_name ,tag_index_path(:tag_name => tag.tag_name) ,class: "badge badge-secondary"%>
      </i>
      <%end%>
      <%end%>
    </div>
  </div>
  <div class="card-body">

    <div id="blog-content" data-content="<%= @article.content %>">
    </div>
    <hr>

    <% if @article.is_original%>
    <div class="original">
      <p align="center">原创文章欢迎转载,转载请注明出处</p>
      <p><strong>标题：</strong><%= @article.title%> | <strong>作者：</strong><%= @article.user.nickname%></p>
      <p><strong>地址：</strong><a href="<%=URI.decode(article_url(@article.title))%>"><%=URI.decode(article_url(@article.title))%></a></p>
      <%else%>
      <div class="statement">
        <!-- <div class="card text-white bg-warning"> -->
          <p>转载文章</p>
          <p><strong>标题：</strong><a href="<%= @article.source_url%>"  target="_blank" ><%= @article.source_title%></a></p>
          <p><strong>地址：</strong><%= @article.source_url%></p>
          <p ><kbd>我无意冒犯您的版权,如果侵犯到您的权益.请联系我删除.</kbd></p>
          <%end%>
        </div>
      </div>
    </div>