<div class="panel">
  <div  style="margin-bottom: 0px;" align="center">
    <h3 class="post-title"><%= @article.title%></h3>
    <div style="color: #8590A6;font-size: 13px;">
      <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
      <span><%=@article.created_at.strftime("%m月%d日 %H:%M")%></span>
      <span><%tags = @article.tags %></span>
      <span>
        <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
        <%=@article.read%>
      </span>
      文章来源:
      <span class="<%= @article.is_original ? 'originalLabel':'forwardingLabel'%>">
        <%if @article.is_original %>
        <%= @article.source_title%>
        <%else%>
        <a href="<%= @article.source_url%>" style="color: #fff;" target="_blank" >
          <%= @article.source_title%>
        </a>
        <%end%>
      </span>
      <%unless !logged_in?%>
      &nbsp | <%= link_to '编辑',edit_admin_article_url(@article.id)%>
      <%= link_to '删除',{controller: 'admin/articles',action:'destroy',id:@article.id}, method: :delete,data: { confirm: "你确定要删除该篇文章?\n #{@article.title}"}%>
      <%end%>
      <br>
      <%if tags.size > 0%>
      <%tags.each do |tag| %>
      <div class="tags">
        <%= link_to tag.tag_name ,tag_index_path(:tag_name => tag.tag_name)%>
      </div>
      <%end%>
      <%else%>
      <span class="label label-default">无</span>
      <%end%>
    </div>
  </div>
  <hr class="style-five">
  <div class="panel-body">
    <div id="blog-content" data-content="<%= @article.content %>">
    </div>
    <hr>

      <% if @article.is_original%>
      <div class="original">
      <h6><strong>声明：</strong>请以 <code>超链接</code> 的形式注明 <kbd>作者</kbd> 、<kbd>标题</kbd> 和 <kbd>原始出处</kbd>。遵循<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">"CC BY-NC-SA 2.5 CN"</a></h6>
      <h6><strong>标题：</strong><%= @article.title%>（自动实时更新） | <strong>作者：</strong><%= @article.user.nickname%></h6>
      <h6><strong>地址：</strong><a href="<%=URI.decode(article_url(@article.title))%>"><%=URI.decode(article_url(@article.title))%></a></h6>
      <h6 ><h4>原创文章欢迎转载,转载请注明出处。</h4></h6>
      <%else%>
      <div class="statement">
      <h6><strong>声明：</strong>转载本文,请以 <code>超链接</code> 的形式注明 <kbd>原作者</kbd> 、<kbd>原标题</kbd> 和 <kbd>原始出处</kbd>。遵循<a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">"CC BY-NC-SA 2.5 CN"</a></h6>
      <h6><strong>标题：</strong><a href="<%= @article.source_url%>"  target="_blank" ><%= @article.source_title%></a></h6>
      <h6><strong>地址：</strong><%= @article.source_url%></h6>
      <h6 ><h4>转载文章</h4><kbd>我无意冒犯您的版权,如果侵犯到您的权益.请联系我删除.</kbd></h6>
      <%end%>
    </div>
  </div>
</div>