  <%= form_tag search_article_index_path , :method => :get do %>
  <div class="input-group" id="search-id" >
    <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  <% end %>
  <div class="panel" style="margin-top: 15px;">
    <div class="panel-body text-info" style="background-color: #FFF;border-radius: 10px;">
      <h5 class="panel-title" align="center">标签</h5>
      <p class="panel-text">
        <% @tags.each do |t|%>
        <% if t.articles.size > 0%>
        <div class="tags">
          <a href="<%=tag_index_path(:tag_name => t.tag_name)%>"><%=t.tag_name%> <span style="margin: 5px 3px 5px;color: #999;font-size: 8px;"><%=t.articles.size.to_s%></span></a>
        </div>
        <%end%>
        <%end%>
      </p>
    </div>
  </div>

  <div class="panel" style="margin-top: 15px;">
    <div class="panel-body text-info" style="background-color: #FFF;border-radius: 10px;">
      <h5 class="panel-title">
        文章总数:<%= Article.count%>
      </h5>
    </div>
  </div>
