<div class="col-md-9">
  <div class="panel">
    <div class="panel-body">
      <%@articles.each do |a|%>
      <p>
        <span class="listRrticleTitle" ><%= link_to a.title,article_path(a) ,class:'listRrticleTitle'%>
        </span>
        <span style="color: #777;">
          <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
          <span style="font-size: 12px;"><%=a.created_at.strftime("%m-%d %H:%M")%>
            <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
            <%=a.read%>
          </span>
        </span>
      </p>
      <%end%>
    </div>
    <div  align="center">
      <%= paginate @articles %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <%= render 'shared/sidebar' %>
</div>