<div class="col-md-9" id='main'>
  <%@articles.each do |a|%>
  <div class="card" >
    <div class="card-body">
      <h4  align="left">
        <%= link_to a.title,article_path(a) ,class:'post-title' ,style: "color: #333"%>
      </h4>
      <div class="content" data-content='<%=a.content.split('<!--more-->')[0].gsub('##','####').gsub(/^#.*?\s+/,'#### ')%>' id="blog_<%=a.id%>">
      </div>
      <div  style="float: right;" >
        <span style="color: #777;" align="center">
          <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
          <span style="font-size: 13px;"><%=a.created_at.strftime("%Y-%m-%d %H:%M")%>
            <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
            <%=a.read%>
          </span>
        </span>
        <%= link_to '阅读更多>>',article_path(a) ,class:'btn'%>
      </div>
    </div>
  </div>
  <%end%>
  <div align="center" style="align-content: center;">
    <%= paginate @articles %>
  </div>
</div>
<div class="col-md-3">
  <%= render 'shared/admin_info' %>
  <%= render 'shared/search' %>
  <%= render 'shared/tags' %>
</div>
<script type="text/javascript">
  var blog = $('.content')
  for (let i = 0; i < blog.size(); i++) {
    var content = $('#' + blog[i].id).data('content')
    $('#' + blog[i].id).html(marked(content.substring(0,content.length-1) + '...'));
  }
</script>