<div class="col-md-9">
  <div class="panel">
    <div class="panel-body">
      <%@articles.each do |a|%>
      <span style="font-size: 22px;"><%= link_to a.title,article_path(a) %></span>
      <span style="color: #777;">
        <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
        <%=a.created_at.strftime("%Y-%m-%d %H:%M")%>
        <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
        <%=a.read%>
      </span>
      <br>
      <br>
      <%end%>
    </div>
    <div  align="center">
      <%= paginate @articles %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <%= render 'shared/sidebar' %>
</div>