<div class="col-md-9">
  <% if @query_string.blank? %>
  <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
  <% elsif @articles.blank?%>
  <h2 class="search-info-title">亲，没有搜索到文章哦，要不换个关键词试试？</h2>
  <% else %>
  <div class="alert alert-info" >
    <h4>包含 <font color="red"><%= @query_string %></font> 的文章有<%= @articles.count %>条</h4>
  </div>
  <%@articles.each do |a|%>
  <div class="more" style="padding: 20px;margin: 0 0 20px;border-radius: 8px;background-color: #FFF;">
    <p class="listRrticleTitle" align="center">
      <%= link_to (render_highlight_content(a,@query_string).to_s.size == 0 ? a.title : render_highlight_content(a,@query_string)) ,article_path(a) %>
    </p>
    <p style="color: #777;" align="center">
      <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
      <span style="font-size: 12px;"><%=a.created_at.strftime("%m-%d %H:%M")%>
        <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
        <%=a.read%>
      </span>
    </p>
    <div class="content" data-content='<%=a.content.split('<!--more-->')[0].gsub('##','####').gsub(/^#.*?\s+/,'#### ')%>' id="blog_<%=a.id%>"></div>

    <div align="center">
      <%= link_to '阅读更多...',article_path(a) ,class:'btn',style:"border:2px solid #BBB;font-size:18px;margin-top:10px;"%>
    </div>
  </div>
  <%end%>
  <%end%>
  <div align="center">
    <%= paginate @articles %>
  </div>
</div>
<div class="col-md-3">
  <%= render 'shared/sidebar' %>
</div>