<div class="panel" style="margin:0 15px;">
  <div class="panel-body">
    <div style="padding: 15px;">
      <% if @query_string.blank? %>
      <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
      <% elsif @articles.blank?%>
      <h2 class="search-info-title">亲，没有搜索到文章哦，要不换个关键词试试？</h2>
      <% else %>
    </div>
    <div class='row' style="margin: 0 15px;">
      <div class="alert alert-info" >
        <h4>包含 <font color="red"><%= @query_string %></font> 的文章有<%= @articles.count %>条</h4>
      </div>
      <% @articles.each do |a| %>
      <p>
        <span style="font-size: 20px">
          <%= link_to (render_highlight_content(a,@query_string).to_s.size == 0 ? a.title : render_highlight_content(a,@query_string)) ,article_path(a) %>
        </span>
        <span style="color: #777;">
          <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
          <span style="font-size: 12px;"><%=a.created_at.strftime("%m-%d %H:%M")%>
            <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
            <%=a.read%>
          </span>
        </span>
      </p>
      <% end %>
    </div>
    <% end %>
    <%= paginate @articles %>
  </div>
</div>