<div class="panel" style="margin: 15px;">
  <div  align="center">
    <h2 class="post-title"><%= @article.title%></h2>
    <img id = 'imgCalendar' src="<%=asset_path('calendar.svg')%>">
    <span><%=@article.created_at.strftime("%m月%d日 %H:%M")%></span>
    <span><%tags = @article.tags %></span>
    <span>
      <img id = 'imgRead' src="<%=asset_path('read.svg')%>">
      <%=@article.read%>
    </span>
    <br>
    <%if tags.size > 0%>
    <%tags.each do |tag| %>
    <span class="label label-info"><%=tag.tag_name%></span>
    <%end%>
    <%else%>
    <span class="label label-default">无</span>
    <%end%>
  </div>
  <hr>
  <div class="panel-body">
    <div id="blog-content" data-content="<%= @article.content %>">
    </div>
  </div>
</div>