<!DOCTYPE html>
<html>
<head>
  <title>liuxin's blog</title>
  <link href="https://ws1.sinaimg.cn/large/006tNc79ly1fyucew7ck4j303k03k745.jpg" rel="bookmark" type="image/x-icon" />
  <link href="https://ws1.sinaimg.cn/large/006tNc79ly1fyucew7ck4j303k03k745.jpg" rel="shortcut icon" type="image/x-icon" />
  <link href="https://ws1.sinaimg.cn/large/006tNc79ly1fyucew7ck4j303k03k745.jpg" rel="icon" type="image/x-icon" />
  <script async src="http://www.googletagmanager.com/gtag/js?id=UA-124188438-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124188438-1');
  </script>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="mainContent">
    <div class="container">
      <%= render 'shared/header' %>
      <div class="row">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>
</html>