<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/swirl_pattern.png);">
  <%= render 'shared/header' %>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
